@font-face {
  font-family: "iconfont"; /* Project id 4948411 */
  src: url('iconfont.woff2?t=1764691913664') format('woff2'),
       url('iconfont.woff?t=1764691913664') format('woff'),
       url('iconfont.ttf?t=1764691913664') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e606";
}

.icon-xiangxia:before {
  content: "\e609";
}

.icon-bilibili-line:before {
  content: "\ea96";
}

.icon-shouye1:before {
  content: "\e61a";
}

.icon-flower:before {
  content: "\e68d";
}

.icon-hua:before {
  content: "\e630";
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-baiyun:before {
  content: "\e746";
}

.icon-siyecao-copy:before {
  content: "\e604";
}

.icon-siyecao:before {
  content: "\e605";
}

.icon-huahonghuazhiwuhuaduo:before {
  content: "\e622";
}

.icon-siyecao1:before {
  content: "\e736";
}

.icon-icon10:before {
  content: "\e615";
}

.icon-shuyeu:before {
  content: "\e603";
}

.icon-kucun:before {
  content: "\e610";
}

.icon-yishouchu:before {
  content: "\e7bb";
}

.icon-sanyecaokongxin:before {
  content: "\e602";
}

.icon-yonghu:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e658";
}

.icon-xiai:before {
  content: "\e600";
}

.icon-gouwuchekong:before {
  content: "\e601";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-dianhua:before {
  content: "\e633";
}

.icon-gou:before {
  content: "\e647";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-fl-renminbi:before {
  content: "\e634";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-qianbao_o:before {
  content: "\eba1";
}

.icon-ellipsis:before {
  content: "\e608";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-zuojiantou:before {
  content: "\e60b";
}

.icon-youjiantou:before {
  content: "\e60c";
}

.icon-weixin:before {
  content: "\e607";
}

