*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SourceHanSansCN-Regular,PingFang SC,Microsoft YaHei,-apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Hiragino Sans GB,Arial;
}
a {
    color: inherit;                    /* 继承文字颜色，而不是默认蓝色 */
    text-decoration: none;             /* 去下划线 */
    background: transparent;           /* 去掉默认背景（若有） */
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;                   /* 链接通常是可点的 */
    -webkit-tap-highlight-color: transparent; /* 移动端点击高亮 */
    -webkit-appearance: none;
}
ul {
    list-style: none;
}
input {
     border: none;
     outline: none;
}
input:hover {
    border: none;
    outline: none;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}
.font_color{
    color: #696969;
}
.font_small_size{
    font-size: 12px;
}
.font_small_bold{
    font-weight: 500;
}
.f{
    user-select: none;
}
